

:root {
  --color-black: #000000;
  --color-gray: #e2ebf6;
  --color-dark-gray: #a3abb2;
  --color-disabled-grey: #d9dbdb;
  --color-red: #ff0000;
}

button {
  margin-top: 3%;
  padding: 2%;
  border-radius: 10px;
  border: none;
  width: fit-content;
  height: 50px;
  font-size: 18px;
}

input[type="text"],input[type="url"] {
  font-size: 18px;
  border-radius: 10px;
  height: 40px;
  padding: 0px 10px;
}

progress#progressbar {
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;

  position: relative;
  display: block;
}

div.template-grid {

  overflow: auto;
  white-space: nowrap;
  padding: 2%;
}

div.template-grid div {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.template-grid div:hover {
  background-color: var(--color-gray);

}

div.template-card{
width: 200px;
border:2px solid var(--color-black);
border-radius: 10px;
}

#progress_bar{
  padding: 2%;
  width: 100%;
}
#progress_label{
  padding: 2%;
}
#nameValidationErrors{
  font-size: small;
  font-style: italic;
}

button:disabled {
  background: var(--color-disabled-grey);
}

#one-click-site{
  padding: 2%;
  border:1.7px solid var(--color-dark-gray);
  border-radius: 10px;
}

label.errorText{
  padding: 2%;
  font-size: small;
  font-style: italic;
  color: var(--color-red);
}
