

:root {
  --color-green: #558309;
  --color-gray: #e2ebf6;
}

button {
  background-color: var(--color-green);
  padding: 2%;
  color: var(--color-gray);
  border-radius: 10px;
  border: none;
  width: fit-content;
  height: 50px;
  font-size: 18px;
}


input[type="text"],input[type="url"] {
  font-size: 18px;
  color: var(--color-green);
  border-radius: 10px;
  height: 40px;
  padding: 0px 10px;
}

progress#progressbar {
  background-color: var(--color-green);
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;

  position: relative;
  display: block;
}

div.template-grid {

  overflow: auto;
  white-space: nowrap;
  padding: 2%;
}

div.template-grid div {
  display: inline-block;
  color: var(--color-green);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.template-grid div:hover {
  border-color: var(--color-green);
  background-color: var(--color-gray);

}

div.template-card{
width: 200px;
border:2px solid var(--color-green);
border-radius: 10px;
}

#progress_bar{
  padding: 2%;
  width: 100%;
}
#progress_label{
  padding: 2%;
}
#nameValidationErrors{
  font-size: small;
}

